/**/*
/gulpfile.js
gulpfile.js
!/lib/**/*
!/lib/*
!/doc/**/*
!/doc/*
!/admin/**/*
!/admin/*
!/io-package.json
!/package.json
!/LICENSE
!/main.js
!/README.md
/admin/i18n/*
lib/create-images-js.sh
admin/icons/removeBackground.js
test


